/* Prime theme - Caldari version - EDK4 */

body {
  font: normal 12px/1.5 Verdana, 'Bitstream Vera Sans', Arial, Helvetica;
  margin: 0;
  color: #ddd;
  padding: 0;
  background: url('images/caldaribg.jpg') no-repeat fixed 50% 0 #000;
}

#header {
  margin-top: 10px;
}

#main-menu {
  background: rgba(0, 0, 0, .8);
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow:
    0 0 11px #000,
    0 0 11px #000;
  -webkit-box-shadow:
    0 0 11px #000,
    0 0 11px #000;
  box-shadow:
    0 0 11px #000,
    0 0 11px #000;
  margin-top: 12px;
}

.navigation {
  border-collapse: collapse;
  height: 25px;
  width: 100%;
}

.navigation td {
  text-align: center;
  vertical-align: middle;
}

.navigation a {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

#bodybox-wrapper {
  background: rgba(0, 0, 0, .8);
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 11px #000;
  -webkit-box-shadow: 0 0 11px #000;
  box-shadow: 0 0 11px #000;
  margin-top: 20px;
  margin-bottom: 10px;
}

#page-title {
  border-bottom: 1px solid #414141;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  margin: 10px  5px 5px 0;
  padding-top: 3px;
}

#content {
  float: left;
  padding: 10px;
  width: 785px;
}

#context {
  float: left;
  padding: 10px 10px 0 0;
}

#context,
.context-element .kb-table {
  width: 140px;
}

#footer {
  border-top: 1px solid #181818;
  color: #858585;
  clear: both;
}

/* Table */
.kb-table {
  border-spacing: 0;
}

.kb-table td {
  padding: 0;
}

.kb-table, .kb-subtable {
  color: #e0e0e0;
  font-size: 10px;
}

/* Common style */
.wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 980px;
}

.section {
  padding: 10px;
}

.smalltext {
  font-size: 10px;
}

.middletext {
  font-size: 11px;
}

/* Form items */

input,
button,
select,
textarea {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #e0e0e0;
  margin: 3px;
  outline: none;
  padding: 3px;
}

input[type="submit"],
input[type="reset"],
button {
  background: rgba(165, 13, 13, .8);
  border: 1px solid #a50d0d;
  -moz-box-shadow: 0 1px 5px #a50d0d;
  -webkit-box-shadow: 0 1px 5px #a50d0d;
  box-shadow: 0 1px 5px #a50d0d;
  cursor: pointer;
  text-shadow: 1px 1px #000;
}

input[type="submit"]:active,
input[type="reset"]:active,
button:active {
  -moz-box-shadow: 0 0 2px rgba(165, 13, 13, .6);
  -webkit-box-shadow: 0 0 2px rgba(165, 13, 13, .6);
  box-shadow: 0 0 2px rgba(165, 13, 13, .6);
  position: relative;
  top: 1px;
}

input[type="text"],
input[type="password"],
input[type="textarea"],
select,
textarea {
  background: rgba(0, 0, 0, .7);
  border: 1px solid rgba(255, 255, 255, .5);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="textarea"],
textarea:focus {
  -moz-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
  box-shadow: 0 0 5px rgba(255, 255, 255, .5);
}

/* ?a=admin_value_fetch */
#turl {
  width: 98%;
}

/* ?a=admin_api */
#keyname,
#keyid,
#keycode {
  width: 90%;
}
/* !!! Check it !!! */

/*#userarea {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0 0;
  color: #555;
}*/

/*#banner {
  width: 970px;
  margin: auto;
  height: 125px;
  background: #000;
}*/

/*#overalheader {
  width: 100%;
  align: center;
  height: 60px;
  background: #909086;
}*/

/*#overalheadercontent {
  width: 600px;
  margin: auto;
  height: 60px;
  background: #909086;
}*/

/*.main-table {
  border-bottom: 0 solid #555;
  border-collapse: separate;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-spacing: 0;
  border-top: 0 solid #555;
  height: 100%;
  padding: 0;
  width: 950px;
}*/

.kill-points {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

div.bar {
  background: #189fcc;
  border-bottom: 1px #00688b solid;
  border-right: 1px #00688b solid;
  font-size: 4px;
  height: 6px;
}

div.bar-background {
  font-size: 4px;
  height: 6px;
}

.awardbox-list div.bar-background {
  width: 60px;
}

.contractlist div.bar-background {
  width: 75px;
}

.contract-list-efficiency div.bar-background {
  width: 120px;
}

div.bar-red {
  background: #300;
  border-bottom: 1px #200 solid;
  border-right: 1px #200 solid;
  height: 8px;
}

.box-title {
  background: #333;
  font-weight: bold;
  height: 20px;
  text-align: center;
}

.box-content {
  margin-bottom: 20px;
  padding: 10px;
  width: 150px;
}

.menu-wrapper {
  padding-bottom: 5px;
  padding-top: 5px;
}

.menu-caption {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 5px;
}

.menu-item {
  font-weight: bold;
  padding-left: 15px;
}


/* caption over boxes - Involved parties */
.block-header {
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* for exampe Awards for April 2007 */
.block-header2 {
  border-bottom: 1px solid #414141;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.kb-table-title {
  height: 10px;
}

/* Ship type */
.kb-table-header {
  background: rgba(0, 0, 0, .8);
  font-size: 10px;
  font-weight: bold;
  height: 15px;
  padding: 4px;
}

.kb-table-row-odd,
.kb-table-rows > tbody > tr:nth-child(even),
.kb-table-rows > tbody > tr.kb-table-row-kill:nth-child(even),
.kb-table-row-slot {
  background: rgba(255, 255, 255, .05);
}

.kb-table-rows > tbody > tr.kb-table-row-kill:hover {
  background-color: rgba(0, 131, 204, .5);
}

.kb-table-row-hover,
.contractlist tr:hover,
.kb-table-rows > tbody > tr:hover,
.kb-kl-table tbody .kb-table-row-even:hover,
.kb-kl-table .kb-table-row-odd:hover {
  background: rgba(255, 255, 255, .1);
  cursor: pointer;
}

.finalblow {
  border: solid 1px rgba(255, 0, 0, .5);
  -moz-box-shadow: 0 0 7px #ff0000;
  -webkit-box-shadow: 0 0 7px #ff0000;
  box-shadow: 0 0 7px #fd5616;
  height: 64px;
  width: 64px;
}

td.finalblow {
  border: none;
  -moz-box-shadow: 0 0 7px #ff0000;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  width: 64px;
}

img.avatar {
  border: 1px solid #333;
}

img.icon {
  border: 1px solid #333;
}

td.item-icon,
th.item-icon {
  width: 32px;
}

div.item-icon {
  border: none;
  height: 32px;
  position: relative;
  text-align: left;
  width: 32px;
}

img.icon-hover {
  border: 1px solid #dd9300;
  cursor: pointer;
}

td.avatar-name {
  color: #ccc;
  font-size: 10px;
  font-weight: bold;
}

td.killmail {
  color: #ddd;
  font-size: 11px;
}

td.battleship {
  background: #dd9300;
}

.kb-table-imgcell {
  height: 32px;
  padding: 0;
  text-align: center;
  width: 32px;
}

.logo img,
.kb-table-imgcell img,
.item-icon img {
  display: block;
}

.kb-date-header {
  background: url('../../img/day.gif') 0 16px no-repeat;
  color: #ccc;
  font-size: 13px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 15px;
}

.kb-campaigns-header {
  background-image: url('../../img/campaign.png');
  background-position: 0 -3px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #414141;
  color: #ccc;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
}

.kb-kills-header {
  background-image: url('../../img/kills.png');
  background-position: 0 -3px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #414141;
  color: #ccc;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
}

.kb-losses-header {
  background-image: url('../../img/losses.png');
  background-position: 0 -3px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #414141;
  color: #ccc;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
}

.kb-contract-target-header {
  background-image: url('../../img/contract-target.gif');
  background-position: 0 -3px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #414141;
  color: #ccc;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
}

.kl-kill, .kl-loss, .kl-kill-null, .kl-loss-null {
  text-align: center;
}

.kl-kill-null, .kl-loss-null {
  color: #aaa;
}

td.kl-kill-null-bg {
  background: #030;
  color: #999;
}

td.kl-loss-null-bg {
  background: #300;
  color: #999;
}

td.kl-kill {
  color: #0a0;
  font-weight: bold;
}

.kl-loss {
  color: #a00;
  font-weight: bold;
}

td.kl-kill-bg {
  background: #030;
  color: #0b0;
  font-weight: bold;
}

td.kl-loss-bg {
  background: #300;
  color: #b00;
  font-weight: bold;
}

#weeknav {
  right: 0;
  top: 20px;
}

td.weeknav {
  color: #666;
  font-size: 9px;
  font-weight: bold;
}

select.kb-select {
  font-size: 10px;
  width: 210px;
}

input.kb-input {
  font-size: 10px;
}

a {
  color: #189fcc;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

a.kb-table-row-hover:link {
  color: #333;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

#comments-wrap {
  border-top: #333 thin solid;
  clear: left;
  color: #ccc;
  float: left;
  margin-top: 15px;
  width: 250px;
}

.comment-text {
  border-bottom-color: #333;
  border-bottom-style: solid;
  border-bottom-width: thin;
  overflow: hidden;
  padding: 5px;
}

#countdown {
  background-color: #000;
  border: 0;
  color: #ccc;
}

.popup-table {
  -moz-opacity: .9;
  background-color: #333;
  filter:alpha(opacity=90)
}

.killcount {
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  padding-right: 4px;
}

.losscount {
  color: #d00;
  font-size: 9px;
  font-weight: bold;
}

.kb-summary-summary > .losscount {
  text-align: left;
}

.kb-summary-summary > .killcount {
  text-align: right;
}


div.kb-shiptype {
  float: left;
  margin-top: 3px;
  padding-left: 3px;
}

div.kb-shipicon {
  float: right;
  height: 32px;
}

a.kb-shipclass {
  color: #ddd;
}

a.kb-shipclass-hl {
  color: #0a0;
  text-decoration: underline;
}

a.kb-shipclass:hover {
  color: #ddd;
  text-decoration: underline;
}

a.kb-contract {
}

.stats {
  margin-bottom: 5px;
}

.klsplitter {
  margin-bottom: 5px;
  margin-top: 5px;
}

.kltable {
  text-align: center;
}

#profile {
  clear: both;
  color: #e0e0e0;
  float: right;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.kb-kl-table a {
  color: #e0e0e0;
  font-size: inherit;
  font-weight: inherit;
}

.counter {
  clear: both;
}

.kl-detail-victim, .kl-detail-invsum, .kl-detail-inv, .kl-detail-comments,
.kl-detail-vicship, .kl-detail-shipdetails, .kl-detail-fitting {
  margin-bottom: 10px;
}

#kl-detail-left, #kl-detail-right {
  text-align: left;
  vertical-align: top;
}

#kl-detail-left {
  display: inline-block;
  margin: 0 5px 10px 0;
  width: 370px;
}

#kl-detail-right {
  display: inline-block;
  margin: 0 0 10px 0;
  width: 398px;
}

#popup {
  display: none;
  left: 350px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 217px;
  width: 99%;
  z-index: 5;
}

.mod_name {
  font-weight: bold;
  margin-top: 5px;
}

div.awardbox {
  float: left;
  height: 480px;
  margin: 0 20px 10px 20px;
  text-align: center;
  vertical-align: top;
  width: 150px;
}

.no_stretch {
  overflow: hidden;
  white-space: nowrap;
}

.contractlist {
  border-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 98%;
}

.contractlist tr td:first-child {
  text-align: left;
}

.contractlist tr.kb-table-header td.kb-date {
  width: 80px;
}

.contractlist tr.kb-table-header td.killcount {
  width: 50px;
}

.contractlist tr.kb-table-header td.iskcount {
  width: 70px;
}

.contractlist tr.kb-table-header td.efficiency {
  width: 120px;
}

.contractlist td.kb-date {
  text-align: center;
}

.contractlist .efficiency {
  text-align: left;
  width: 75px;
}

.contractlist .efficiency_percent {
  width: 40px;
}

.contractlist .name {
  font-weight: bold;
}

.contract-stats {
  border-spacing: 1px;
  font-weight: bold;
  margin-bottom: 10px;
  table-layout: fixed;
  width: 100%;
}

.contract-stats td {
  text-align: left;
}

.contract-stats .kb-date {
  width: 120px;
}

.contract-stats .contract-data-name {
  width: 206px;
}

td.contract-logo {
  height: 80px;
  text-align: center;
  width: 80px;
}

.contract-list-summary td.kl-kill-bg,
.contract-list-summary td.kl-loss-bg {
  text-align: center;
  width: 60px;
}

.contract-summary-name {
  font-weight: bold;
  width: 112px;
}

.contract-list-efficiency .efficiency_percent,
.contract-list-efficiency .efficiency_bar {
  font-weight: bold;
  width: 120px;
}

.kb-box {
  border-spacing: 1px;
  margin-bottom: 10px;
}

.kb-box > tr > td {
  text-align: left;
}

.kb-box .kb-table-header {
  text-align: center;
}

/*img {
  border: none;
}*/

.summarytable td {
  vertical-align: top;
}

.kb-summary-summary {
  text-align: center;
  width: 100%;
}

.kb-summary-summary > div {
  display: inline-block;
  width: 48%;
}

.kb-summary-clear {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.summarysubtable {
  border-spacing: 1px;
  width: 100%;
}

.summarytable > table {
  border-collapse: collapse;
  width: 785px;
}

.summarytable-verbose {
  text-align: center;
  width: 60px;
}

.summarytable-brief {
  text-align: center;
  width: 30px;
}

.kb-kl-table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 785px;
}

.kl-shiptype {
  width: 190px;
}

.kl-victim {
  width: 188px;
}

.kl-finalblow {
  width: 175px;
}

.kl-location {
  height: auto;
  text-align: left;
  width: 144px;
}

.kl-value {
  width: 40px;
}

.kl-shiptype-text {
  width: 157px;
}

.kl-victim-text {
  width: 175px;
}

.kb-kl-table tr.kb-table-header > td {
  text-align: center;
}

.kb-kl-table td {
  vertical-align: middle;
}

.kl-inv-comm {
  float: left;
  vertical-align: middle;
}

.kl-inv-comm img {
  vertical-align: middle;
}

.kl-date {
  float: right;
}

table.awardbox td.kb-table-header {
  text-align: center;
}

table.awardbox table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.awardbox-top td {
  font-weight: bold;
  text-align: center;
}

.awardbox-num {
  width: 15px;
}

.awardbox-count {
  text-align: right;
}

.awardbox-comment {
  text-align: center;
}

.awardbox .kb-table-header {
  text-align: center;
}

.kb-clock {
  text-align: center;
}

.kb-clock .kb-subtable {
  border-collapse: collapse;
  width: 100%;
}

#clock {
  font-weight: bold;
}

.alliance-detail .logo,
.corp-detail .logo,
.pilot-detail .logo {
  height: 128px;
  text-align: center;
  width: 128px;
}

.alliance-detail .attribute-name,
.corp-detail .attribute-name {
  width: 130px;
}

.pilot-detail .attribute-name {
  width: 180px;
}

.alliance-detail .attribute-data-short,
.corp-detail .attribute-data-short {
  width: 90px;
}

.alliance-detail .attribute-data-long,
.corp-detail .attribute-data-long {
  width: 270px;
}

.alliance-detail td,
.corp-detail td,
.pilot-detail td {
  font-weight: bold;
  text-align: left;
}

.alliance-detail td:last-child,
.corp-detail td:last-child {
  font-weight: normal;
}

.corp-detail .description {
  width: 100%;
}

.corp-detail .description * {
  font-size: inherit;
}

.pilot-detail.stats > table {
  table-layout: fixed;
  width: 100%;
}

.alliance-detail-corps td {
  text-align: center;
}

.alliance-detail-corps td:first-child,
.alliance-detail-corps td:last-child {
  text-align: left;
}

.alliance-detail-corpname {
  width: 200px;
}

.alliance-detail-ticker {
  width: 60px;
}

.alliance-detail-members {
  width: 60px;
}

.alliance-detail-joined {
  width: 90px;
}

.alliance-detail-tax {
  width: 60px;
}

.alliance-detail-site {
  width: 257px;
}

.alliance-detail-corps tr.kb-table-header td {
  font-weight: bold;
}

.toplist-table {
  border-spacing: 1px;
  width: 306px;
}

.toplist-table td:first-child {
  padding: 0;
}

.toplist-table tr {
  height: 32px;
}

.toplist-table .kb-table-header {
  height: 16px;
  text-align: center;
}

.toplist-name {
  width: 200px;
}

.toplist-rank {
  width: 60px;
}

.toplist-table td:nth-child(3) {
  text-align: center;
}

.toplist-table .kb-table-header {
  text-align: center;
}

.kl-detail-victim > table,
.kl-detail-vicship > table,
.kl-detail-inv > table,
.kl-detail-comments > table {
  border-collapse: separate;
  width: 100%;
}

.kl-detail-victim .logo {
  text-align: center;
  width: 68px;
}

.kl-detail-victim .logo > img,
.kl-detail-vicship .logo > img {
  height: 64px;
  width: 64px;
}

.kl-detail-victim .attribute-name {
  font-weight: bold;
  width: 68px;
}

.kl-detail-victim .attribute-data {
  width: 198px;
}

.kl-detail-victim td {
  font-weight: bold;
}

.kl-detail-vicship .logo {
  text-align: center;
  width: 68px;
}

.kl-detail-vicship td.logo {
  height: 64px;
  text-align: center;
  width: 64px;
}

.kl-detail-vicship .attribute-name {
  font-weight: bold;
  width: 118px;
}

.kl-detail-vicship .attribute-data {
  width: 206px;
}

.kl-detail-vicship td {
  font-weight: bold;
}

.kl-detail-vicship td:last-child {
  font-weight: normal;
}

.kl-detail-inv .logo {
  text-align: center;
  width: 64px;
}

.kl-detail-inv .attribute-data {
  width: 194px;
}

.kl-detail-comments-outer {
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.kl-detail-comments-inner {
  border-collapse: collapse;
  width: 100%;
}


.violentsystems td:first-child {
  font-weight: bold;
  width: 25px;
}

.violentsystems td:nth-child(2) {
  width: 215px;
}

.violentsystems td:last-child {
  text-align: center;
  width: 60px;
}

.invtype > div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 360px;
}

.invtype > div:first-child {
  margin-left: 5px;
  margin-right: 30px;
}

.invtype img.logo {
  float: left;
  height: 64px;
  margin-right: 10px;
  width: 64px;
}

.invtype img.icon {
  height: 32px;
  width: 32px;
}

.invtype table.kb-table,
.kl-detail-shipdetails table.kb-table {
  width: 100%;
}

.invtype td.description {
  text-align:left !important;
}

.invtype table.kb-table td:first-child {
  height: 32px;
  width: 32px;
}

.invtype table.kb-table td:nth-child(2) {
  font-weight: bold;
}

.invtype table.kb-table td:last-child {
  text-align: right;
  width: 100px;
}

.kl-detail-shipdetails tr.kb-table-row-odd > td:nth-child(3) {
  text-align: center;
  width: 30px;
}

.kl-detail-shipdetails tr.kb-table-row-odd > td:last-child {
  text-align: right;
}

.kl-detail-shipdetails tr.summary {
  text-align: right;
}

.kl-detail-shipdetails tr.summary.bpo,
.kl-detail-shipdetails tr.summary.itemdrop,
.kl-detail-shipdetails tr.dropped,
.kb-table-row-dropped {
  background: rgba(0, 128, 0, .5);
}

.kl-detail-shipdetails tr.totalloss,
.kb-table-rows > tbody > tr.kb-table-row-loss:nth-child(even) {
  background: rgba(127, 0, 0, .7);
}

.kb-table-rows > tbody > tr.kb-table-row-loss:nth-child(odd) {
  background: rgba(127, 0, 0, .5);
}

.kb-table-rows > tbody > tr.kb-table-row-loss:hover {
  background: rgba(221, 147, 0, .5);
}

.kl-detail-shipdetails tr.totalloss > td:first-child {
  border: 1px solid #600;
  font-weight: bold;
  text-align:right;
}

.kl-detail-shipdetails tr.totalloss > td:last-child {
  border: 1px solid #c00;
  text-align:right
}

.kl-detail-shipdetails tr.summary.bpo td,
.kl-detail-shipdetails tr.summary.itemdrop td {
  border: 1px solid green;
}

.kl-detail-shipdetails tr.summary td:first-child {
  font-weight: bold;
}

.kl-detail-invsum > table.kb-table {
  width: 100%;
}

.kl-detail-invsum td {
  vertical-align: top;
}

.kl-detail-invsum td.invcorps,
.kl-detail-invsum td.invcorps > div.no_stretch {
  width: 210px;
}

.kl-detail-invsum td.invships,
.kl-detail-invsum td.invships > div.no_stretch {
  width: 117px;
}

.fitting-panel > div.fit-module {
  height: 32px;
  width: 32px;
  z-index: 2;
}

.fitting-panel > div.fit-ammo {
  height: 24px;
  width: 24px;
  z-index: 3;
}

.fitting-panel > div {
  position: absolute;
}

.fitting-panel div.bigship {
  height: 256px;
  left: 72px;
  top: 71px;
  width: 256px;
  z-index: 0;
}

.fitting-panel img.bigship {
  height: 256px;
  width: 256px;
}

.fitting-panel div.verified
{
  height: 16px;
  left: 382px;
  top: 0;
  width: 16px;
  z-index: 4;
}

.fitting-panel div.verified > img {
  height: 16px;
  width: 16px;
}

.fitting-panel div.fit-slot-bg {
  height: 398px;
  left: 0;
  top: 0;
  width: 398px;
  z-index: 1;
}

.kill-related-friendly,
.kill-related-hostile {
  display: inline-block;
  width: 378px;
}

.kill-related-friendly > table.kb-table,
.kill-related-hostile > table.kb-table {
  width: 376px;
}

.kill-related-friendly .destroyed,
.kill-related-hostile .destroyed {
  background-color: #e44 !important;
}

.kill-related-friendly tr.kb-table-header > td,
.kill-related-hostile tr.kb-table-header > td {
  text-align: center;
}

.kill-related-friendly tr.kb-table-header > td:last-child,
.kill-related-hostile tr.kb-table-header > td:last-child {
  width: 40px;
}

.kill-related-stats > table.kb-table {
  width: 100%;
}

.kill-related-stats > table.kb-table th {
  text-align: left;
  width: 200px;
}

.kill-related-stats > table.kb-table td {
  text-align: left;
}

.kill-related-subsection {
  font-weight: normal !important;
}

td.owner-title {
  font-size: 30px;
  padding-right: 30px;
  text-align: right;
  width: 100%;
}

div#searchresults > table {
  width: 450px;
}

div.login table td:first-child {
  width: 160px;
  font-weight: bold;
}
